.grid-container{
    display: grid;
    grid-template-rows: repeat(2, 310px);
    grid-template-columns: repeat(4, 200px);
    column-gap: 20px;
    justify-content: center;
}
.grid-container div {
    display: flex;
    flex-direction: column;
}
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.infoZapas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}
.card-list-products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
}