.main{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/modelo-jordan-4-rojas-parte-trasera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}