
.main-3{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/the-550-nb-1.jpg);
    background-repeat: no-repeat;
    position: relative;
}
.img-n{
    font-weight: 900px;
    text-decoration: none;
}
.main-n .eslogan img {
    grid-area: new-balance-550-3;
    width: 100%;
    height: 365px;
    object-fit: cover;
}